.Rproj.user
.Rhistory
.RData
.Ruserdata
.rstudio
*/.rstudio
.DS_Store
.bash_history
.local
.config
data/*
results/*
#ignore any files not needed for the website:
docs/src/*
docs/data/*
docs/results/*
docs/Dockerfile
docs/run_rstudio_singularity.sh
#ignore any files created by scripts
database.conf
my_secure_cookie_key
var-lib-rstudio-server/
